body {
  font-family: "Just Another Hand", cursive;
  background-color: #242e6b;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TODO: Styling by html elemnt: add styling for h1 and h2 */
h1,
h2 {
  font-weight: 400;
  font-size: 200px;
}
#title {
  padding-top: 50px;
  color: #fc8c93;
  line-height: 50px;
}
/* TODO: Styling by id: add styling for #title */

#question {
  display: inline;
  color: #ffffff;
}

/* TODO: Styling by id: add styling for canvas */
#myCanvas {
  vertical-align: center;
  display: inline;
  border: 5px solid #ffffff;
  cursor: crosshair;
}
.container {
  text-align: center;
  margin: 50px auto;
}

.btn {
  margin: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  border-width: 0;
  cursor: pointer;
  color: #242e6b;
  line-height: 70px;
  font-family: "Just Another Hand", cursive;
  font-size: 70px;
  letter-spacing: 3px;
  padding: 13px 32px 0 32px;
  text-align: center;
  text-decoration: none;
}

/* TODO: Styling by class: add Styling for button on hover */
.btn:hover {
  background-color: #242e6b;
  color: #ffffff;
  transition: 0.1s;
}
.my-selector:hover {
  cursor: crosshair;
}
